.presentation.row
	.offset-lg-2.col-lg-2.d-flex.justify-content-center
		.picture
			img.rounded(src="/images/profil/profil.jpg", alt="Picture of the boss")
	.col-lg-5
		.box.rounded
			p.
				Nous sommes une entreprise de construction active depuis 2000 dans la province du Luxembourg et ses alentours.

			p.
				Nous somme spécialiser dans les façades isolantes, gros oeuvres, rénovations ainsi que terrassements. Kruk Construction s'emploie a toujours satisfaire vos attentes en réalisant vos reves. L'expertise du patron assure une qualité de finition impeccable.
			
			span Directeur,
			br
			span Andrzej Kruk