.presentation.row
	.offset-lg-2.col-lg-2
		.picture
			img.rounded-circle(src="/images/website/guy.jpg", alt="")
	.col-lg-5
		.box.rounded
			p.
				Nous sommes une entreprise de construction active depuis ... dans la province du luxembourg et ses alentours.

			p.
				Nous somme spécialiser dans .
			
			span Directeur
			br
			span Andrzej Kruk