.form.rounded
	h2 Formulaire de contact
	hr
	
	form
		.form-row
			.form-group.col-md-6
				label(for="inputFirstName") Prénom
				input(type="text" class="form-control" id="inputFirstName" placeholder="Prénom")

			.form-group.col-md-6
				label(for="inputLastName") Nom de famille
				input(type="text" class="form-control" id="inputLastName" placeholder="Nom")

			.form-group.col-md-6
				label(for="inputEmail") Email
				input(type="email" class="form-control" id="inputEmail" placeholder="Email")

			.form-group.col-md-6
				label(for="inputTel") Téléphone
				input(type="tel" class="form-control" id="inputTel" placeholder="Numéro de téléphone")

			.form-group.col-md-4
				label(for="inputSubject") Sujets
				select#inputState.form-control
					option(value="question" selected) Question
					option(value="plainte") Plainte
					option(value="devis") Devis
					option(value="autre") Autre

			.form-group.col-md-12
				label(for="inputMessage") Message
				textarea.form-control#inputMessage(rows="3" placeholder="Ecriver votre message ici")

		.form-row
			.col-12.d-flex.justify-content-center
				button.btn.btn-primary(type="submit") Envoyer

//- script.
//- 	$('form').on('submit', (e) => {
//- 		e.preventDefault();

//- 		const firstname = $('#inputFirstName').val().trim();
//- 		const lastname = $('#inputLastName').val().trim();
//- 		const email = $('#inputEmail').val().trim();
//- 		const tel = $('#inputTel').val().trim();
//- 		const subject = $('#inputSubject').val().trim();
//- 		const message = $('#inputMessage').val().trim();

//- 		const data = {
//- 			firstname,
//- 			lastname,
//- 			email,
//- 			tel,
//- 			subject,
//- 			message
//- 		}

//- 		$.post('/contact', data, function(){
//- 			console.log('Server received the data');
//- 		});
//- 	});
