.row.skills
	.col-sm-6.col-md-2.offset-lg-2.col-lg-2
		.box
			img(src="/images/icons/house.png")
			h4 Façades isolantes
	.col-sm-6.col-md-2.col-lg-2
		.box
			img(src="/images/icons/brick.png")
			h4 Gros oeuvres
	.col-sm-6.col-md-2.col-lg-2
		.box
			img(src="/images/icons/renovation.png")
			h4 Rénovations
	.col-sm-6.col-md-2.col-lg-2
		.box
			img(src="/images/icons/shovel.png")
			h4 Terrassements