.skills
	.box
		@include phone
			margin-bottom: 3%
		padding: 6% 1%
		background-color: $sec-color
		border: 3px solid $main-color
		border-radius: 6px 6px 6px 6px
		text-align: center
		height: 200px
		&:hover
			transform: scale(0.95)
		img
			width: 70px
			height: 70px
			margin: 6% 0% 8% 0%