.row.skills
	.col-sm-3.col-md-6.offset-lg-2.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/house.png")
				p Façades isolantes
	.col-sm-3.col-md-6.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/brick.png")
				p Gros oeuvres
	.col-sm-3.col-md-6.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/renovation.png")
				p Rénovations
	.col-sm-3.col-md-6.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/shovel.png")
				p Terrassements