.row.skills
	.col-sm-12.col-md-6.offset-lg-2.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/house.png")
				h4 Façades isolantes
	.col-sm-12.col-md-6.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/brick.png")
				h4 Gros oeuvres
	.col-sm-12.col-md-6.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/renovation.png")
				h4 Rénovations
	.col-sm-12.col-md-6.col-lg-2
		a(href="")
			.box
				img(src="/images/icons/shovel.png")
				h4 Terrassements