include ../components/essentials/head
body
	main
		include ../components/essentials/navbar
		.container-fluid
			include ../components/achievements/desc_earthworks
			include ../components/achievements/article_earthwork_1
			include ../components/separators/md_sep
			include ../components/achievements/article_earthwork_2
		include ../components/essentials/footer