include ../components/essentials/head
body
	main
		include ../components/essentials/navbar
		include ../components/jumbotron/jumbotron
		.container-fluid
			.row
				.col-sm-12.col-lg-6.col-md-12.col-lg-6
					include ../components/form/form
				.col-sm-12.col-lg-6.col-md-12.col-lg-6
					include ../components/map/map
		
		include ../components/essentials/footer