.article
	.row.d-flex.align-items-center
		.col-sm-12.col-md-12.offset-lg-3.col-lg-3.box
			h3 Maison de particulier
			ul
				li Lieu du chantier: Neufchateau
				li Dimension du chantier: 265m²
				li Matériaux utilisés
					ul
						li Isolant 13cm
						li Colle nanana
		.col-sm-12.col-md-12.col-lg-4.gallery
			img(src="/images/achievements/renovations/renovation2.jpg" alt="Photographie d'un gite rénové")