.row.desc
	.col-sm-12.col-md-12.col-lg-9
		h1 Terrassements

		p.
			Les travaux de terrassement sont basés sur trois actions principales : l'extraction, le transport, la mise en œuvre. Il peut exister des travaux de grandes ampleurs (travaux routiers, aménagements de plateformes, travaux ferroviaires ou fluviaux, etc.) ou légers (tranchées de réseaux enterrés, aménagements de maisons individuelles, drains, etc.). Le métier est basé sur le retour d'expérience et l'empirisme car ce sont essentiellement des matériaux naturels qui sont remaniés. 

	.col-sm-12.col-md-12.col-lg-3.d-flex.align-items-end
		img(src="/images/achievements/earthworks/illustration.jpg" alt="Photographie d'une brouette")