.row.desc
	.col-sm-12.col-md-12.col-lg-9
		h1 Façades isolantes

		p.
			L’isolation par l’extérieur (pour une nouvelle construction ou une rénovation) a l’avantage de ne pas avoir de conséquences sur votre habitat : non seulement vous pouvez continuer à occuper la maison durant les travaux mais, surtout, vous ne perdez pas de surface habitable. C’est aussi l’option idéale si vous n’avez pas de murs creux. Et pour éviter les ponts thermiques ! C’est donc une technique très efficace.

		p.
			Isoler des murs par l’extérieur consiste « tout simplement » à faire poser une couche d’isolant par des professionnels sur vos murs extérieurs. Notez que l’isolation des murs par l’extérieur modifie l’aspect de votre maison et implique la plupart du temps la demande d’un permis d’urbanisme. En effet, une fois l’isolant posé, il vous faudra revêtir votre façade d’un nouveau revêtement (briques, bardage, crépi, etc.) et tous ne sont pas acceptés dans toutes les communes.

	.col-sm-12.col-md-12.col-lg-3.d-flex.align-items-end
		img(src="/images/achievements/facades/illustration.jpg" alt="")