.row.desc
	.col-sm-12.col-md-12.col-lg-9
		h1 Gros oeuvres

		p.
			Le gros œuvre est l'ensemble des éléments de construction d'un édifice qui lui assure la reprise de tous les efforts subis, soit en permanence (le poids propre de l'édifice et les autres charges reçues en continu), soit temporairement, de manière variable (vent, neige, séisme, etc.) ou même, éventuellement, accidentelle (chocs, incendie, etc.). Le gros œuvre rassemble tout ce qui concourt à la solidité, à la stabilité de l'édifice : murs porteurs, poteaux, poutres, planchers entre les étages, fondations, etc. Une partie des auteurs de référence incluent la charpente de toiture dans le gros œuvre, les autres l'excluent.

		p.
			Dans une construction, le gros œuvre se complète du second œuvre qui est constitué de tous les autres ouvrages qui s'appuient sur lui: isolation, cloisons, revêtements, cheminées, agencements, équipement, etc. 

	.col-sm-12.col-md-12.col-lg-3.d-flex.align-items-end
		img(src="/images/achievements/bigworks/illustration.jpg" alt="Photographie d'un homme utilisant une disqueuse")