.row.desc
	.col-sm-12.col-md-12.col-lg-9
		h1 Renovations

		p.
			La rénovation d'équipements, le rétrofit ou parfois réaménagement consiste à ajouter, modifier ou restaurer des fonctions technologiques dans des systèmes vieillissants. Il s'agit de remplacer des pièces obsolètes ou usées par des pièces neuves tout en maintenant la configuration de l'appareil. C'est une remise en état, une mise aux normes ou une adaptation à un besoin nouveau d'une installation existante (machine, système, bien immobilier, etc.) en gardant certaines éléments et en en changeant d'autres. 

	.col-sm-12.col-md-12.col-lg-3
		img(src="/images/achievements/renovations/illustration.jpg" alt="")