.partners
	.row
		.col-lg-12
			h2 Nos partenaires
	.row.d-flex.justify-content-lg-around.align-items-lg-center
		.col-sm-12.col-md-12.col-lg-1.d-flex.justify-content-center
			.box.d-flex.align-items-center
				a(href="https://be.reca.com/",target="_blank")
					img(src="/images/partners/reca.png", alt="")
		.col-sm-12.col-md-12.col-lg-1.d-flex.justify-content-center
			.box.d-flex.align-items-center
				a(href="https://www.bati-c.be/",target="_blank")
					img(src="/images/partners/batic.png", alt="")
		.col-sm-12.col-md-12.col-lg-1.d-flex.justify-content-center
			.box.d-flex.align-items-center
				a(href="https://art-studio.com.pl/",target="_blank")
					img(src="/images/partners/artstudio.png", alt="")
		.col-sm-12.col-md-12.col-lg-1.d-flex.justify-content-center
			.box.d-flex.align-items-center
				a(href="http://www.mblequeux.be/fr",target="_blank")
					img(src="/images/partners/lequeux.png", alt="")
		.col-sm-12.col-md-12.col-lg-1.d-flex.justify-content-center
			.box.d-flex.align-items-center
				a(href="https://www.iveco.com/belgium-fr/pages/homepage.aspx",target="_blank")
					img(src="/images/partners/iveco.png", alt="")
		.col-sm-12.col-md-12.col-lg-1.d-flex.justify-content-center
			.box.d-flex.align-items-center
				a(href="https://www.bosch-professional.com/be/fr/",target="_blank")
					img(src="/images/partners/bosch.png", alt="")
		.col-sm-12.col-md-12.col-lg-1.d-flex.justify-content-center
			.box.d-flex.align-items-center
				a(href="https://www.makita.be/homepage-fr.html",target="_blank")
					img(src="/images/partners/makita.png", alt="")