.carouselle
	.row
		.offset-lg-2.col-lg-8
			h2 Nos dernières réalisations
			.carousel.slide#carouselExampleIndicators(data-ride="carousel")
				ol.carousel-indicators
					li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
					li(data-target="#carouselExampleIndicators" data-slide-to="1")
					li(data-target="#carouselExampleIndicators" data-slide-to="2")

				.carousel-inner
					.carousel-item.active
						img(src="/images/achievements/facades/facade1.jpg" alt="Photographie d'une maison équipée d'une façade isolante")
						.carousel-caption.d-none.d-md-block
							h5 Façades isolante
							p Superficie de 580m² - Isolant épaisseur 5.5cm
							a(href="#") Plus d'informations
					.carousel-item
						img(src="/images/achievements/bigworks/bigwork1.jpg" alt="Photographie d'une maison en construction")
						.carousel-caption.d-none.d-md-block
							h5 Gros Oeuvre
							p Maison de 360m² - 1 étage - Garage annexe
							a(href="#") Plus d'informations
					.carousel-item
						img(src="/images/achievements/renovations/renovation1.jpg" alt="Photographie d'un gite rénové")
						.carousel-caption.d-none.d-md-block
							h5 Rénovation
							p Rénovation d'une vieille ferme - Création d'un gite
							a(href="#") Plus d'informations
					.carousel-item
						img(src="/images/achievements/earthworks/earthwork1.jpg" alt="Photographie d'une terrasse en pierre bleu")
						.carousel-caption.d-none.d-md-block
							h5 Terrassement
							p Superficie de 120m² - Aménagement extérieur imaginé par Xavier Destlange
							a(href="#") Plus d'informations
				a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
					span.carousel-control-prev-icon(aria-hidden="true")
					span.sr-only Previous

				a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
					span.carousel-control-next-icon(aria-hidden="true")
					span.sr-only Next