.ad
	.row.banner
		.box.offset-1.col-10.rounded
			h2 Covid-19

			p.
				Chers clients, durant cette période difficile, nous souhaitons vous informer des dernières mesures prises par notre entreprise. Nous comprenons que la situation actuelle puisse susciter des inquiétudes et des questions. C'est pour quoi, il est très important pour nous d'etre à votre disposition pour toutes informations complémentaires. Depuis plusieurs semaines maintenant, nous avons pris des mesures exeptionnelles afin de garantir votre sécurité ainsi que celle de nos travailleurs.
