.map.rounded
	h2 Ou nous trouvez?
	.responsive-map
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10300.683738529611!2d5.4655369!3d49.801654!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd4d00b8c07b8127c!2sKruk%20Construction%20Sprl!5e0!3m2!1sfr!2sbe!4v1599577575646!5m2!1sfr!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")